@import "../../assets/normal";

.progress {
  .progress-bar-inner {
    position: relative;

    height: 4px;

    background: rgba(0, 0, 0, 0.3);

    .progress-line {
      position: absolute;

      height: 100%;

      background: $theme-color;
    }

    .progress-btn-wrapper {
      position: absolute;
      top: -6px;

      .progress-btn {
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border: 3px solid $border-color;
        border-radius: 50%;

        background: $theme-color;
      }
    }
  }
}
