@import "../../assets/normal";

.header-container {
  display: flex;

  position: fixed;
  z-index: 100;

  padding: 0 10px 5px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;

  line-height: 40px;

  color: $font-color-light;

  .back {
    width: 20px;
    margin-right: 5px;

    font-size: 20px;
  }

  > h1 {
    font-size: $font-size-l;
    font-weight: 700;
  }
}
